.transaction {
    display: flex;
    width: 60%;
    margin: 0 auto;
    border: 1px solid lightgrey;
    padding: 2rem;

    div {
        margin-left: 1rem;
    }

    &:last-of-type {
        justify-items: flex-end;
    }
    
}