.transaction {
    display: flex;
    align-items: center;
    width: 60%;
    margin: 1rem auto;
    border: 1px solid lightgrey;
    justify-content: space-between;
    border-radius: 1rem;
    transition: .25s ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);

    &:hover,&:focus {
        outline: none;
        box-shadow: 1px 10px 5px 0px rgba(0,0,0,.15);
    }

    .type {
        display: flex;
        flex-direction: column;
        width: 10rem;
        border-right: 1px solid lightgrey;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
    }

    .icon {
        margin-top: 1rem;
        font-size: 3rem;
        color: #333;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2rem;
        width: 70%;
    }

    .amount {
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: space-around;
        padding: 2rem;

        .arrow-icon {
            font-size: 2rem;

            &.left {
                color: green;
            }

            &.right {
                color: red;
            }
        }
    }

    @media only screen and (max-width: 768px) {
        font-size: 1.2rem;
        width: auto;
        margin: 1rem;

        .type {
            font-size: .7rem;
        }

        .amount {
            width: 40%;
        }
    }  
}

.transaction-detail {    
    display: flex;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    margin-top: -2rem;
    border: 1px solid lightgrey;
    justify-content: center;
    border-radius: 0 0 1rem 1rem;
    position: relative;
    transition: .25s ease;
    background: white;
    padding: 1rem;

    &:hover,&:focus {
        outline: none;
        box-shadow: 1px 10px 5px 0px rgba(0,0,0,.15);
    }

    @media only screen and (max-width: 768px) {

        font-size: .8rem;
        width: auto;
        margin: 1rem;
        margin-top: -2rem;
    }  
}