.account {
    width: 60%;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid lightgrey;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    background: #fe4e57;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}