.nav {
    height: 5rem;
    width: 100%;
    top:0;
    left: 0;
    position: sticky;
    background: black;
    display: flex;
    align-items: center;

    .title {
        margin-left: 4rem;
        color: white;
        font-size: 2rem;
    }
}